@import "trestle/support";
@import "trestle/jquery-ui/themes/base/jquery-ui.min";

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ccc;
}

/* IE 6 */
* html .ui-autocomplete {
  height: 100px;
}

.searchbox {
  padding: 8px 0;

  icon {
    padding: 11px 5px 0 0;
  }

  .input-group-addon {
    background: none;
    border: none;
    padding-left: 0;
  }

  .form-control {
    padding-left: 0;

    background: none;
    box-shadow: none;

    border: none;
    border-radius: 0;

    border-bottom: 1px solid #ddd;

    transition: border-color 500ms;

    &:focus {
      border-color: #555;
    }
  }

  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 10px;
    left: 10px;
    width: $sidebar-width - 20px;
    max-width: none;

    padding: 0 12px;
    background: white;
    box-shadow: inset 0 1px 1px rgba(black, 0.075);
    border-radius: 50px;

    .form-control {
      border-bottom: none;
      font-size: 16px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .app-sidebar {
    padding-top: 40px;
  }
}
